body {
  background-image: linear-gradient(to right, #1B1464, #93278F);
}

#carouselMain {
  margin: auto;
  width: 50%;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar {
  margin-bottom: 50px;
}

.footer {
  margin-top: 50px;
}

.main {
  margin-left: 20px;
  margin-right: 20px;
}

.space-up {
  margin-top: 10px !important;
}